<footer id="footer" class="cd-footer">
  <div class="row">
    <div class="col-sm-4">
      <p class="cd-footer__social-icons">
        <a href="https://www.facebook.com/CoderDojoArnhem/" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
            <i class="fa fa-facebook fa-stack-1x cd-footer__social-icons__icon" aria-hidden="true"></i>
          </span>
        </a>
        <a href="https://twitter.com/CoderDojo026" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
            <i class="fa fa-twitter fa-stack-1x cd-footer__social-icons__icon" aria-hidden="true"></i>
          </span>
        </a>
        <a href="mailto://contact@coderdojo-arnhem.nl" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
            <i class="fa fa fa-at fa-stack-1x cd-footer__social-icons__icon" aria-hidden="true"></i>
          </span>
        </a>
        <a href="https://coderdojo.nl/slack-community" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
            <i class="fa fa fa-slack fa-stack-1x cd-footer__social-icons__icon" aria-hidden="true"></i>
          </span>
        </a>
        
      </p>
    </div>
  </div>
</footer>
